

@font-face {
    font-family: norse-bold;
    src: url(./images/Norse-Bold.otf);
}

.img {
    display: flex;
    width: 40vw;
    height: 100vh;
    margin: 0;
    background: url(./images/background.jpg) no-repeat
    center;
    background-size: cover;
    align-items: center;
    justify-content: center;
   
}

.img-description{
    margin-top: auto;
    margin-bottom: 10px;
    color: aliceblue;
    font-size: 100%;
    font-weight: 600;
}

.img-description a{
    color: inherit;
    text-decoration: inherit;
}

.form {
    width: 60%;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
}


.form-text{
    font-family: norse-bold;
    color: #2e2e2e;
    margin-left: 20px;
    
}

.form {
    width: 60%;
    margin: 0;
    padding: 0;
    margin-top: 1%;
    
}

.form > * {
    padding-left: 10%;
    padding-right: 10%;
}

.form-label{
    font-weight: 900;
    font-size: 20px;
    display: block;
}

.form-input{
    border: 3px solid gray;

}

.container {
    display: flex;
}



.input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    color: darkgray;
    width: 60%;
    
}

.input [type=text]{
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.input [type=email]{
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.password input[type=password]{
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.conPass input[type=password]{
    padding: 10px;
    margin:10px 0;
    width: 80%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.btn button{
    background-color: #596D48;
    padding: 10px;
    width:200%;
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}


a {
    color: #596D48;
}

